navbar {
    padding-left: 2rem;
}

hr {
    border-color: #65004d;
}

.top-header {
    background-color: #65004d;
}

.top-header-box {
    padding: 0;
}

.head-txt {
    padding: 2rem 3rem;
    color: #FFF;
}

.course {
    font-size: 3rem;
    font-weight: 500;
}

.number {
    font-size: 2rem;
    font-weight: 500;
}

.season {
    font-size: 1.5rem;
    font-weight: 500;
}

.instructor {
    margin-top: 1.5rem;
}

.head-img img {
    width: 100%;
}